<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  {{inputList}}
  <form>
    <div>
      <input type="text" ng-model="inputText"/>
      <input type="button" class="example1" value="Submit" ng-click="example2()"/>
    </div>

    <div>
      <input type="button" ng-click="debugFunction()" value="Debug button" />
    </div>
  </form>
</body>
</html>

<style>
.example1 {
  color: red;
}

.example1_3 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.example1_3 input[type="text"] {
  width: 100%;
}
.example1_3 input[type="button"] {
    width: 100%;
    margin-top: 10px;
    background: transparent;
    border: 1px solid #abff4f;
    outline: none;
    padding: 15px;
    cursor: pointer;
}
.example1_3 input[type="button"]:hover {
    background-color: #abff4f;
}
  </style>