<h1 class="basicHeader">To Do List
  </h1>
<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div style="margin:1%">
    <h2>Todo</h2>
    <div>
      <span>{{todoList.remaining()}} of {{todoList.length}} remaining</span>
       <a href="" ng-click="todoList.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
    <div>
  </body>
</html>

<style>
  .done-true {
  text-decoration: line-through;
  color: grey;
}
  </style>