<div class="clocks">
  <h1 class="basicHeader">Clocks</h1>
  <div class="clocksContainer">
    <span ng-repeat="clock in clocks">
      <div class="clockTools">
        <div class="clock">{{clock.timezone.text}}</div>
        <div class="clock">{{date | date : clock.format : clock.timezone.offset}}</div>
        <div class="button"><input type="button" value="Edit"/></div>
        <div class="button"><input type="button" value="Delete" ng-click="deleteClock(clock)"/></div>
      </div>
    </span>
    <div class="clockTools">
      <div>
        <select ng-model="selectedTimeZone">
          <option ng-repeat="tz in timezones" value="{{tz}}">{{tz.text}}</option>
        </select>
      </div>
      <div class="button"><input type="button" value="Add" ng-click="addClock()"/></div>
    </div>
  </div>
</div>