/* ==================================================== */
/* Calculator                    */
/* ==================================================== */
.basicHeader{
  text-align: left;
  color: white;
  margin-left: 242px;
}

.calculator{
    text-align: center;
    margin-top: 34px;
    min-height: 400px;
}

.calcInner{
    display: inline-block;
}

.calcButton{
    width:42px;
    height: 42px;
    background-color: #abff4f;
    color: black;
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

#calcTable{
  border: 2px  solid #abff4f;
  border-radius: 7px;
  padding: 10px;
}

#calcInput{
  height: 42px;
  width: 186px;
  margin: 12px;
  font-size: 42px;
}

/* ==================================================== */
/* Stolen from rabiteer.io                      */
/* ==================================================== */

.header-area {
    padding: 30px 0;
    height: 102px;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 1000;
    background: #212121;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

    &.navbar-fixed-top {
        position: fixed;
        padding: 10px 0;
        background: rgba(0,0,0,0.9);
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
}


/* Logo Area */

.logo-area {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    float: left;
    text-align: left;
    position: relative;

    a.logo {
        padding-right: 10px;
        display: inline-table;
        text-decoration: none;
    }
    span.phone {
        padding-left: 20px;
        display: inline-table;
        color: #FFFFFF;
        vertical-align: top;
        line-height: 40px;
        font-size: 20px;
        border-left: 1px solid rgba(251,251,251,0.5);
    }
}



.toggle-btn, .toggle-btn:hover, .toggle-btn:focus {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    float: right;
    position: absolute;
    top: 4px;
    right: 5px;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* Navigation Area */

.nav-main {
    padding: 9px 0 0 0;
    margin: 0 0 0 0;
    float: right;
    text-align: right;
    
    .menu-cont {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        list-style: none;
        font-size: 16px;
        text-transform: uppercase;

        li {
            padding: 0 15px;
            margin: 0 0 0 0;
            display: inline-table;
            position: relative;

            a:hover, &.active a, &:hover a {
                color: #ABFF4F;
                text-decoration: none;
            }

            &:hover ul.sub-menu {
                display: block;
            }

             a {
                color: #ffffff;
                text-decoration: none;
                display: block;
                border-bottom: 3px solid rgba(53,143,162,0);
            }

            ul.sub-menu {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                list-style: none;
                position: absolute;
                display: none;

                li {
                    padding: 0 0 0 0;
                    margin: 0 0 0 0;
                    display: block;
                    text-align: center;

                    a {
                        padding: 5px 10px;
                        margin: 0 0 1px 0;
                        border: 0;
                        background: rgba(53,143,162,0.8);
                        white-space: nowrap;
                        font-size: 14px;

                        text-transform: none;
                        min-width: 130px;
                        color: #ffffff;
                    }


                    a:hover, &.active a {
                        background: rgba(53,143,162,0.4);
                        color: #ffffff;
                    }
                }
            }
        }

    }
}



a.nav-order-btn, a.nav-order-btn:hover {
    padding: 3px 10px;
    margin: 0 0 0 0;
    display: inline-table;
    background: #f20707;
    color: #ffffff !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 0 !important;
}




/* ==================================================== */
/* 04. Banner Content Styles                            */
/* ==================================================== */

/* particleground CSS */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #212121;
    position: relative;
    /* background-image: url("../img/space-bg.png"); */
    z-index: 10;
    min-height: 850px;
}

.cont-area {
    position: absolute;
    left: 0;
    top: 25%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    height: auto !important;
    z-index: 30;
}

.banner-area {
    text-align: center;
}

    .banner-area h1 {
        font-size: 72px;
        color: #ffffff;
    }

    .banner-area h5 {
        color: #ABFF4F;
    }

/* particleground Inner Page CSS */

#particles.inner-particle {
    min-height: 450px;
}

.cont-area-inner {
    padding: 0 0 0 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 30;
}

    .cont-area-inner h1 {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        color: #ffffff;
    }

    .cont-area-inner .inner-rocket-img {
        padding-top: 120px;
        text-align: center;
    }

        .cont-area-inner .inner-rocket-img img {
            width: 90%;
            max-width: 711px;
        }

    .cont-area-inner .heading-area {
        padding: 35px 0;
        margin: 0 0 0 0;
        background: rgba(0,0,0,0.3);
    }

.breadcrumbs-inner {
    padding: 20px 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
}

    .breadcrumbs-inner li {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        display: inline-block;
    }

        .breadcrumbs-inner li:after {
            padding: 0 10px;
            margin: 0 0 0 0;
            content: ">";
        }

        .breadcrumbs-inner li:last-child:after {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            content: "";
        }

        .breadcrumbs-inner li a {
            color: #ffffff;
            text-decoration: none;
        }

            .breadcrumbs-inner li a:hover, .breadcrumbs-inner li.active a, .breadcrumbs-inner li.active:after {
                color: #ABFF4F;
                text-decoration: none;
            }

/* Slider Styles */

.banner-area .slides {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
}

    .banner-area .slides li {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        z-index: 30;
    }

        .banner-area .slides li h1 {
            opacity: 1;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-transition: -webkit-transform .5s cubic-bezier(0.19,1,.22,1),opacity 1s cubic-bezier(0.19,1,.22,1);
            -moz-transition: -moz-transform .5s cubic-bezier(0.19,1,.22,1),opacity 1s cubic-bezier(0.19,1,.22,1);
            transition: -webkit-transform .5s cubic-bezier(0.19,1,.22,1),-moz-transform 2.5s cubic-bezier(0.19,1,.22,1);
        }

        .banner-area .slides li.flex-active-slide h1 {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-backface-visibility: hidden;
        }

.banner-area .flex-control-nav {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
}

    .banner-area .flex-control-nav li {
        padding: 0 0 0 0;
        margin: 0 5px;
        display: inline-table;
    }

        .banner-area .flex-control-nav li a {
            padding: 0 0 0 0;
            margin: 0 0;
            display: inline-table;
            width: 10px;
            height: 10px;
            font-size: 0;
            line-height: 0;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            background: rgba(251,251,251,0);
            border: 1px solid rgba(251,251,251,0.5);
            cursor: pointer;
        }

            .banner-area .flex-control-nav li a:hover, .banner-area .flex-control-nav li a.flex-active {
                background: rgba(251,251,251,1);
                border: 1px solid rgba(251,251,251,1);
            }

.banner-btm-img {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

    .banner-btm-img img {
        width: 100%;
        max-width: 1100px;
    }




.footer-area {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background: #212121;
    font-size: 14px;
    color: #a0a0a0;

    width: 100%;

}

    .footer-area a {
        color: #a0a0a0;
        text-decoration: none;
    }

        .footer-area a:hover {
            color: #ABFF4F;
            text-decoration: none;
        }

/* Footer Top Area */

.footer-top {
    padding: 70px 0;
    margin: 0 0 0 0;
}

.footer-nav ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style-type: none;

    font-size: 14px;
    text-transform: uppercase;
}

    .footer-nav ul li {
        padding: 2px 0;
        margin: 0 0 0 0;
        font-weight: bold;
    }

        .footer-nav ul li:before {
            padding: 0 10px 0 0;
            margin: 0 0 0 0;
            content: "";
            color: #62646c;
            font-size: 14px;
        }

.footer-logo {
    margin-bottom: 15px;
}

.footer-address ul {
    padding: 0 0 0 15px;
    margin: 0 0 0 0;
    list-style: none;
}

    .footer-address ul li {
        padding: 7px 0;
        margin: 0 0 0 0;
    }

        .footer-address ul li.email a {
            color: #ABFF4F;
        }
        .footer-address ul li.email:before {
            padding: 0 14px 0 0;
            margin: 0 0 0 0;
            font-size: 14px;
        }

        .footer-address ul li.phone:before {
            padding: 0 14px 0 0;
            margin: 0 0 0 0;
            font-size: 14px;
        }

        .footer-address ul li.address:before {
            padding: 0 14px 0 0;
            margin: 0 0 0 0;
            font-size: 14px;
            display: block;
            float: left;
            height: 50px;
        }

.footer-map {
    text-align: center;
}

    .footer-map .map {
        margin-bottom: 20px;
    }

.social-footer {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
    font-size: 24px;
}

    .social-footer li {
        padding: 0 5px;
        margin: 0 0 0 0;
        display: inline-table;
    }

        .social-footer li a {
            color: #a0a0a0;
        }

            .social-footer li a:hover {
                color: #ABFF4F;
            }

/* Footer Bottom Area */

.footer-bottom {
    padding: 30px 0 20px 0;
    margin: 0 0 0 0;
    background: #000000;
}

.footer-bottom p {
    font-size: 14px;
}