@import './vars.scss';


  header {
    display:block;

    & > nav {
      margin:0 auto;
      max-width: $max-width;
      display:flex;
      align-items: stretch;

      h1 {
        margin:0;
        padding:5px;
        font-size:2rem;
        width: 200px;

        a, a:active, a:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }

      ul {
        margin:0;
        padding:0;
        flex-grow: 1;
        display:flex;
        align-items: stretch;
        list-style: none;
        align-items: flex-end;

        li {
          padding:3px 10px;
          
          a {
            text-decoration: none;
            color:black;
            font-weight: bold;
          }
        }
      }
    }
  }


@media screen and (max-width: $break-width) {


}