
@import '../lib/flexboxgrid/dist/flexboxgrid.css';

@import './vars.scss';
@import './header.scss';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    margin:0;
}

a {
    cursor: pointer;
}

[ng-cloak] {
    display:none !important;
}
