
@import '../lib/flexboxgrid/dist/flexboxgrid.css';

@import './vars.scss';
@import './header.scss';
@import './added.scss';
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    margin:0;
    background-color: #212121;
    color:white;
}

a {
    cursor: pointer;
}

[ng-cloak] {
    display:none !important;
}

